@font-face {
  font-family: 'efcuisines';
  src: url('./efcuisines-regular-webfont.svg'); /* IE9 Compat Modes */
  src: url('./efcuisines-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./efcuisines-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('./efcuisines-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('./efcuisines-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.restaurant-list {
  padding: 10px;

  .list-item {
    position: relative;
    background-color: white;
    border-radius: 3px;
    padding: 10px 0;
    margin-top: 10px;
    align-items: center;
    cursor: pointer;

    .rating {
      line-height: 12px;
    }

    .cuisine {
      text-align: center;

      .letter {
        color: #F54343;
        font-size: 30px;
        font-family: efcuisines, serif;
      }
    }

    .tenbis {
      display: inline-block;
      width: 14px;
      height: 10px;
      background: url('./icons/TenBisIcon.svg')
    }
  }
}